<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Add Todo</title>
    <script>
        // This function sets the current local time in the hidden input field
        function setLocalTime() {
            const currentTime = new Date().toISOString();
            document.getElementById("createdAt").value = currentTime;
        }
    </script>
    <link rel="stylesheet" th:href="@{/css/addTodoStyle.css}">
</head>
<body onload="setLocalTime()">
<h1>Add New Todo</h1>
<form th:action="@{/todos}" method="post">
    <label for="name">Title:</label>
    <input type="text" id="name" name="name" required>
    <br>
    <label for="task">Description:</label>
    <textarea id="task" name="task"></textarea>
    <br>
    <label for="completed">Completed:</label>
    <input id="completed" name="completed" type="checkbox" th:checked="${todo.completed}" />
    <br>
    <!-- Hidden input for storing the current local time -->
    <input type="hidden" id="createdAt" name="createdAt">
    <br>
    <button type="submit">Save</button>
</form>
<a href="/todos">Back to List</a>
</body>
</html>