<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Edit Todo</title>
    <link rel="stylesheet" th:href="@{/css/editTodo.css}">
</head>
<body>
<h1>Edit Todo</h1>
<form th:action="@{/todos/{id}/update(id=${todo.id})}" method="post">
    <label for="name">Title:</label>
    <input type="text" id="name" name="name" th:value="${todo.name}" required>
    <br>
    <label for="task">Description:</label>
    <textarea id="task" name="task" th:text="${todo.task}"></textarea>
    <br>
    <label for="completed">Completed</label>
    <input type="checkbox" id="completed" name="completed" th:checked="${todo.completed}" />
    <button type="submit" >Update</button>
</form>
<a href="/todos">Back to List</a>
</body>
</html>